<%- include('partials/header.ejs') %>
<body>
    <div id="app-container">
        <!-- Sidebar -->
        <div id="sidebar">
            <%- include('sidebar.ejs') %>
        </div>

        <div class="main-content">
            <%- include('navbar.ejs') %>
    
            <%- include('user.ejs') %>
            
        </div>
    </div>
    
    <%- include('partials/footer.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
